body {
    padding-top: 10px;
    padding-right: 150px;
    padding-left: 150px;
  }
  
  .head {
    text-align: center;
    }
    
  .Periodic {
    display: inline;
    font-size: 25pt;
  }
  
  .FilmB {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    background-color: black;
    width: 80pt;
    color: white;
    float: right;
    font-size: 15pt;
  }

  .Elements {
    margin-top: 50pt;
  }

  .Elements2 {
    margin-top: 25pt;
  }

  .Oxygen {
    margin-right: 50pt;
  }
  
  .Hydrogen {
    margin-right: 50pt;
  }

  .Carbon {
    margin-right: 50pt;
  }

  .Elementstxt {
    font-size: 15pt;
  }

  .Oxygent {
    margin-left: 50pt;
    margin-right: 150pt;
  }

  .Hydrogent {
    margin-right: 150pt;
  }

  .Carbont {
    margin-right: 150pt;
  }