

body {
  padding-top: 10px;
  padding-right: 200px;
  padding-left: 200px;
  
}


.element-logo {
  position: absolute;
  top: 40px;
  left: 40px;
}

.periodic {
  position: absolute;
  top: 40px;
  right: 40px;
 
   background-color: #000000;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 25px;
   margin: 4px 2px;
   cursor: pointer;
   font-family: 'Poppins';
}

.header{
  display: flex;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 25px;
  justify-content: center;

}


/* Fishing section */
.fishing {
 text-align: center;
 margin-bottom: 80px;
}

.fishing h1 {
  font-family: 'Poppins';
  font-weight: 300;
}

/* Forest section */
.forest {
  text-align: center;
 }
 
 .forest h1 {
   font-family: 'Poppins';
   font-weight: 300;
 }


 /* Makes "people involved" bold for both films */
.bold {
  font-weight:bold ;
}














/*
@media (max-width: 1330px) {
  body {
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  body {
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
  }
}


.head {
  text-align: center;
  }
  
.Film {
  display: inline;
  font-size: 25pt;
}

.PeriodicB {
  display: inline-block;
  cursor: pointer;
  background-color: black;
  width: 80pt;
  color: white;
  float: right;
  font-size: 15pt;
  text-decoration: none;
}


.Lorem {
  font-size: 20pt;
  color: rgb(110, 109, 109);
  margin-top: 50pt;
}

img {
  max-width: 100%;
  height: auto;
}


.Fishing {
  margin-right: 20pt;
}

.Forest {
  margin-right: 20pt;
}

@media (max-width: 1100px) {
  .Forest {
    margin-right: 10pt;
  }

  .Fishing {
    margin-right: 10pt;
  }
} 

.movietxt {
  font-size: 20pt;
}

@media (max-width: 1000px) {
  img {
    display: inline-block;
  }

  .movietxt {
    display: none;
  }
} 

.Iphonet {
  visibility: hidden;
}

@media (max-width: 767px) {
  .Iphonet {
    visibility: visible;
    display: block;
    margin-left: 20%;
    font-size: 120%;
  }
} 

@media (min-width: 768px) and (max-width: 1000px) {
  .Iphonet {
    visibility: visible;
    display: block;
    font-size: 120%;
    margin-left: 10%;
  }
}

.Fishingt {
  margin-left: 50pt;
  margin-right: 190pt;
}

.Forestt {
  margin-right: 190pt;
}
*/