.back-button{
  position: absolute;
  top: 40px;
  right: 40px;
 
   background-color: #000000;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 25px;
   margin: 4px 2px;
   cursor: pointer;
   font-family: 'Poppins';
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

/* Header and Subtitle */

.header{
  margin-top: 0px;
  color: #000000;
  text-align: center;
  padding: 40px;
  font-size: 28px;
}

.header h1{
  margin-bottom: auto;
  font-family: 'Poppins' , sans-serif;
}

.header h4{
  color: grey;
  margin-top: auto;
  padding-top: 0px;
  font-family: 'Poppins' , sans-serif;
}

.episode-description {
  padding-top: 0px;
  margin-top: 0px;
}

.media-player {
  margin-bottom: 0px;
}