


.header{
  display:flex;
  justify-content:center;
  font-family: 'Poppins';
  margin-bottom: 75px;
  font-size: 25px;
}

.element-logo {
  position: absolute;
  top: 40px;
  left: 40px;
}


.film-button{
  position: absolute;
  top: 40px;
  right: 40px;
 
   background-color: #000000;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 25px;
   margin: 4px 2px;
   cursor: pointer;
   font-family: 'Poppins';
}

.rows {
  margin: auto;
  width: 85%;
}

.element-squares-1{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  margin-bottom: 20px;
}
.element-squares-2{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  
}


.element{
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 25px;
  padding: 75px 75px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 125px;
  cursor: pointer;
  font-size: 40px;
  width: 200px;
  font-family: 'Poppins';
  font-weight: 300;

}







/*

body {
  padding-top: 10px;
  padding-right: 150px;
  padding-left: 150px;
}

@media (max-width: 1330px) {
  body {
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.head {
  text-align: center;
}
  
.Periodic {
  display: inline;
  font-size: 25pt;
}

.FilmB {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  background-color: black;
  width: 80pt;
  color: white;
  float: right;
  font-size: 15pt;
}

.Elements {
  margin-top: 50pt;
  margin-left: 20pt;
}

.Elements2 {
  margin-top: 15pt;
  margin-left: 20pt;
}

@media (min-width: 867px) and (max-width: 1000px) {
  .Elements {
    padding-right: 20pt;
    padding-left: 20pt;

  }
  
  .Elements2 {
    padding-right: 20pt;
    padding-left: 20pt;

  }
}

.Oxygen {
  margin-right: 15pt;
}

.Hydrogen {
  margin-right: 15pt;
}

.Carbon {
  margin-right: 15pt;
}

@media (max-width: 1000pt) {
  
  .Oxygen {
    margin-right: 1pt;
  }
  
  .Hydrogen {
    margin-right: 1pt;
  }
  
  .Carbon {
    margin-right: 1pt;
  }
}

@media (min-width: 1001px) and (max-width: 1330px) {
  .Oxygen {
    margin-right: 15pt;
  }

  .Hydrogen {
    margin-right: 15pt;
  }
  
  .Carbon {
    margin-right: 15pt;
  }
}

.Elementstxt {
  font-size: 15pt;
}

.Oxygent {
  margin-left: 70pt;
  margin-right: 120pt;
}

.Hydrogent {
  margin-right: 120pt;
}

.Carbont {
  margin-right: 120pt;
}

.Iphonet {
  visibility: hidden;
  font-size: 1pt;
}

@media (max-width: 1000px) {
  .Elementstxt {
    visibility: hidden;
    font-size: 1pt;
  }
  
  .Iphonet {
    visibility: visible;
    display: block;
    font-size: 15pt;
  }

  .Oxygent {
      margin-right: 12pt;
    }
    
  .Hydrogent {
      margin-right: 12pt;
    }
    
    .Carbont {
      margin-right: 12pt;
    }
  }
  
@media (min-width: 1001px) and (max-width: 1330px) {
  .Oxygent {
    margin-right: 120pt;
  }
  
  .Hydrogent {
    margin-right: 120pt;
  }
  
  .Carbont {
    margin-right: 120pt;
  }
}

*/